body {
  color: #40514e;
  background-color: #f0f0f0;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #448ef6;
  font-size: 4.625rem;
  margin: 50px auto 0 auto;
  /* font-family: 'Sacramento', cursive; */
  font-family: "Fredericka the Great", cursive;
}

h2 {
  color: #448ef6;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Bangers', cursive; */
  font-family: "Righteous", cursive;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  color: #448ef6;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}
table {
  clear: both;
  width: 100%;
  border: #1b262c 3px solid;
  filter: drop-shadow(5px 10px 4px #cccccc);
  border-radius: 5px;
}
th {
  padding: 2px 5px 2px 5px;
  background-color: #1b262c;
  color: #eaf6f6;
  /* border-radius: 3px; */
}
td {
  padding: 2px 5px 2px 5px;
  border-bottom: #cccccc 1px dotted;
  background-color: #f0f0f0;
}
hr {
  border: dotted #1b262c 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
  filter: drop-shadow(5px 10px 4px #cccccc);
}

a {
  color: #448ef6;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #1b262c;
  position: relative;
  padding-top: 100px;
}

.profilePic {
  border-radius: 2%;
  border: #ffffff 4px solid;
  width: 150px;
  filter: drop-shadow(5px 10px 4px #cccccc);
}
.middle-container {
  margin: 100px 0;
  background-color: #f0f0f0;
}

.bottom-container {
  background-color: #448ef6;
  padding: 50px 0 20px;
}

.skill-row {
  width: 80%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.contact-row {
  width: 80%;
  margin: 100px auto 100px auto;
  /* text-align: left; */
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 80%;
  margin: auto;
}

.contact-message {
  width: 80%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-file {
  width: 150px;
  position: absolute;
  right: 30px;
  top: 40px;
}

.bottom-file {
  position: absolute;
  left: 20px;
  bottom: 50px;
  width: 200px;
}
.mainGraph {
  width: 400px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  filter: drop-shadow(5px 10px 4px #cccccc);
}

.skill-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  filter: drop-shadow(5px 10px 4px #cccccc);
}
.contact-img {
  width: 25%;
  /* float: left; */
  margin-right: 30px;
  filter: drop-shadow(5px 10px 4px #cccccc);
}

.btn {
  background: #75c2f6;
  background-image: -webkit-linear-gradient(top, #75c2f6, #448ef6);
  background-image: -moz-linear-gradient(top, #75c2f6, #448ef6);
  background-image: -ms-linear-gradient(top, #75c2f6, #448ef6);
  background-image: -o-linear-gradient(top, #75c2f6, #448ef6);
  background-image: linear-gradient(to bottom, #75c2f6, #448ef6);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  filter: drop-shadow(5px 10px 4px #cccccc);
}

.btn:hover {
  background: #75c2f6;
  background-image: -webkit-linear-gradient(top, #75c2f6, #448ef6);
  background-image: -moz-linear-gradient(top, #75c2f6, #448ef6);
  background-image: -ms-linear-gradient(top, #75c2f6, #448ef6);
  background-image: -o-linear-gradient(top, #75c2f6, #448ef6);
  background-image: linear-gradient(to bottom, #75c2f6, #448ef6);
  text-decoration: underline;
}
